/*======================================
  Fonts
======================================*/
/*@font-face {
  font-family: 'fonte name';
  src: url('../fonts/fonte-name.eot');
  src: url('../fonts/fonte-name.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fonte-name.woff') format('woff'),
       url('../fonts/fonte-name.ttf') format('truetype'),
       url('../fonts/fonte-name.svg#fonte-name') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

body {
  font-family: $font-main;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-alt;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

