/*======================================
  Main structure
======================================*/

body {
  //background: url(../images/bg.png) center 5px no-repeat;
}

// header
header {
  .grid {
    padding: 7px 0 0 0;
    @include columns( $quant: 174px 1fr 177px, $gutter: 10px, $align: center, $template: 'logo menu location');
    .logo {
      a {
        opacity: 1;
        @include animate($time: 0.3s);
        &:hover {
          opacity: 0.7;
        }
      }
      img {
        @include animate($time: 0.3s);
        width: 100%;
        height: auto;
      }
    }
    .menu {
      @include flex($align: center, $justify: space-between);
      position: relative;
      nav {
        padding: 0 0 0 32px;
        ul {
          @include flex($align: center, $gap: 44.1px);
          li {
            padding: 38px 0;
            position: relative;
            &::after {
              content: '';
              width: 0;
              height: 3px;
              background-color: $color-red;
              position: absolute;
              bottom: 0;
              left: 0;
              @include animate($time: 0.3s);
            }
            a {
              @include font($family: $font-alt, $size: 14px, $weight: 600, $height: 20px, $color: #030303);
              @include flex($align: center, $gap: 3px);
            }
            &.has-child {
              a {
                .icon {
                  width: 13px;
                  height: 20px;
                  margin: 0 -3px 0 3px;
                  stroke: $color-red;
                  stroke-width: 2px;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                }
              }
            }
            &.ticket {
              a {
                .icon {
                  width: 20px;
                  height: 20px;
                  fill: transparent;
                  margin: 0 0 0 3px;
                }
              }
            }
            &.act {
              &::after {
                width: 100%;
              }
            }
            .submenu {
              position: absolute;
              top: 70%;
              left: 50%;
              margin: 0 0 0 -107px;
              padding: 16px 24px;
              z-index: 11;
              width: 214px;
              background: $color-white;
              border-radius: 8px;
              display: block;
              @include animate($time: 0.3s);
              li {
                padding: 8px 0;
                &::after {
                  background-color: currentColor;
                  height: 2px;
                }
                a {
                  @include font($family: $font-alt, $size: 16px, $weight: 700, $height: 19.2px);
                  @include columns( $quant: 24px 1fr, $gutter: 23px, $align: center, $template: '');
                  span {
                    display: block;
                    width: 24px;
                    height: 24px;
                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
              }
              opacity: 0;
              visibility: hidden;
            }
            &:hover {
              &::after {
                width: 70%;
              }
              .submenu {
                top: 100%;
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
      .search {
        width: 22px;
        height: 22px;
        margin: 0 33px 0 0;
        padding: 0;
        .icon {
          width: 22px;
          height: 22px;
          fill: transparent;
          stroke: $color-red;
          stroke-width: 2px;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
        opacity: 1;
        @include animate($time: 0.3s);
        &:hover {
          opacity: 0.7;
        }
      }
      .box-search {
        @include animate($time: 0.3s);
        width: 100%;
        height: 74px;
        background-color: $color-red;
        position: absolute;
        top: 70%;
        left: 0;
        z-index: 10;
        padding: 10px 20px;
        input {
          width: 100%;
          @include font($family: $font-alt, $size: 18px, $weight: 500, $height: 50px, $color: $color-white);
          background: transparent;
          outline: none;
          border: none;
          border-bottom: 1px solid rgba($color-white, 0.2);
          &::-webkit-input-placeholder {
            color: $color-white !important;
          }
          &:-moz-placeholder {
            color: $color-white !important;
          }
          &::-moz-placeholder {
            color: $color-white !important;
          }
          &:-ms-input-placeholder {
            color: $color-white !important;
          }
        }
        .close {
          position: absolute;
          top: 50%;
          right: 20px;
          margin: -15px 0 0 0;
          .icon {
            width: 30px;
            height: 30px;
            fill: $color-white;
          }
        }
        visibility: hidden;
        opacity: 0;
        &.act {
          visibility: visible;
          opacity: 1;
          top: 100%;
        }
      }
    }
    .location {
      .box-location {
        background: #F5F5F5;
        width: 100%;
        height: 40px;
        border-radius: 8px;
        @include columns( $quant: 45px 1fr 32px, $gutter: 0, $align: center, $template: '');
        .flag {
          width: 20px;
          height: 20px;
          fill: transparent;
          margin: 0 0 0 15px;
          stroke: #030303;
          stroke-width: 1.5px;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
        span {
          @include font($family: $font-alt, $size: 12px, $weight: 700, $height: 14.4px, $color: #030303);
        }
        .icon {
          width: 13px;
          height: 20px;
          margin: 0 0 0 4px;
          stroke: $color-red;
          stroke-width: 2px;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
        cursor: pointer;
        opacity: 1;
        @include animate($time: 0.3s);
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}

// end header
// main
main {}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}

// end main
// footer
footer {
  margin: 111px 0 0 0;
  background: $color-orange;
  .box-newsletter {
    width: 100%;
    height: 214px;
    position: relative;
    top: -75px;
    @include columns( $quant: 275px 244px 1fr, $gutter: 37px, $align: start, $template: 'image title form');
    border-radius: 16px;
    background: url(../img/bg-newsletter-home.png) bottom left no-repeat, linear-gradient(92.82deg, #FFFFFF -132.34%, #E7E7E7 222.7%);
    .image {
      padding: 0 0 0 40px;
      img {
        margin: -36px 0 0 0;
        width: 100%;
        height: auto;
      }
    }
    .title {
      padding: 60px 0 0 0;
      h4 {
        @include font($family: $font-alt, $size: 32px, $weight: 800, $height: 38.4px);
        padding: 0 0 16px 0;
      }
      p {
        @include font($family: $font-alt, $size: 16px, $weight: 500, $height: 22.4px, $color: #626262);
      }
    }
    .form {
      padding: 76px 38px 0 0;
      .grid-form {
        @include columns( $quant: 1fr 96px, $gutter: 7px, $align: end, $template: '');
        label {
          .label {
            @include font($family: $font-alt, $size: 14px, $weight: 700, $height: 19.6px);
            display: block;
            padding: 0 0 17px 27px;
          }
          input {
            width: 100%;
            height: 48px;
            border-radius: 60px;
            border: 1px solid #CDCDCD;
            padding: 0 0 0 26px;
            @include font($family: $font-alt, $size: 14px, $weight: 400, $height: 19.6px, $color: #ADADAD);
          }
        }
        .submit {
          input {
            width: 96px;
            height: 46px;
            border-radius: 60px;
            border: 1px solid $color-red;
            background: $color-red;
            @include font($family: $font-alt, $size: 14px, $weight: 700, $height: 100%, $align: center, $color: $color-white);
            @include animate($time: 0.3s);
            &:hover {
              background: $color-white;
              color: $color-red;
            }
          }
        }
      }
    }
  }
  .grid {
    margin: -18px 0 0 0;
    padding: 0 0 72px 0;
    @include columns( $quant: 41% 22.8% 14.4% 12.8% 9%, $gutter: 0, $align: start, $template: '');
    .item {
      .logo {
        a {
          @include animate($time: 0.3s);
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .social-midia {
        display: flex;
        align-items: center;
        padding: 32px 0;
        gap: 16px;
        li {
          a {
            @include animate($time: 0.3s);
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
      h5 {
        @include font($family: $font-alt, $size: 14px, $weight: 600, $height: 16.8px);
        padding: 6px 0 16px 0;
      }
      p {
        @include font($size: 14px, $height: 22.4px);
      }
      .list {
        margin: -1px 0 0 0;
        li {
          padding: 7px 0 8px 0;
          a {
            @include font($family: $font-alt, $size: 14px, $weight: 400, $height: 16.8px);
            &:hover {
              color: $color-white;
            }
          }
        }
        &.small {
          margin: 0 0 0 0;
          li {
            padding: 5px 0;
          }
        }
      }
    }
  }
  .bar-copyright {
    padding: 19px 0;
    background: #D97306;
    .box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a,
      p {
        @include font($size: 14px, $weight: 400, $height: 22.4px, $color: $color-white);
        letter-spacing: 0.01em;
      }
      a {
        &:hover {
          color: $color-black;
        }
        &.upsites {
          display: inline-flex;
          span {
            @include animate($time: 0.3s);
            &:hover {
              position: relative;
              top: -2px;
            }
          }
        }
      }
    }
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}

// end footer