/*======================================
  Event internal
======================================*/

@include breakpoint2($min:sm, $max:lg) {
  .internal-event {
    padding: get-vw-lg(60px) 0 0 0;
    .cat-list {
      @include flex($align: center, $justify: start, $gap: get-vw-lg(23px));
      .back {
        @include flex($align: center, $justify: start, $gap: get-vw-lg(4px));
        @include font($family: $font-alt, $size: get-vw-lg(12px), $weight: 700, $height: get-vw-lg(14.4px), $color: $color-red);
        .icon {
          width: get-vw-lg(8px);
          height: get-vw-lg(14px);
          stroke-width: get-vw-lg(3px);
        }
        &:hover {
          .icon {
            margin: 0 get-vw-lg(5px) 0 get-vw-lg(-5px);
          }
        }
      }
      .cat {
        @include font($family: $font-alt, $size: get-vw-lg(14px), $weight: 700, $height: get-vw-lg(16.8px), $color: $color-white);
        padding: get-vw-lg(10px) get-vw-lg(16px);
        border-radius: get-vw-lg(30px);
      }
    }
    .grid {
      @include columns( $quant: 2.08fr 1fr, $gutter: get-vw-lg(41px) get-vw-lg(27px), $align: stretch, $template: '');
      padding: get-vw-lg(16px) 0 0 0;
      .title {
        padding: 0 get-vw-lg(25px) 0 0;
        h1 {
          @include font($family: $font-alt, $size: get-vw-lg(36px), $weight: 800, $height: get-vw-lg(43.2px));
          padding: 0 0 get-vw-lg(24px) 0;
        }
        p {
          @include font($size: get-vw-lg(16px), $height: get-vw-lg(22.4px), $color: rgba($color-black, 0.7));
        }
      }
      .share {
        @include flex($direction: column, $align: end, $justify: space-between, $gap: get-vw-lg(28px));
        padding: get-vw-lg(18px) get-vw-lg(6px) 0 0;
        .top {
          @include flex($align: start, $justify: end, $gap: get-vw-lg(28px));
        }
        h4 {
          @include font($size: get-vw-lg(16px), $height: get-vw-lg(24px), $color: rgba($color-black, 0.7));
        }
        ul {
          @include flex($align: center, $justify: start, $gap: get-vw-lg(11px));
          li {
            a {
              .whatsup {
                width: get-vw-lg(24px);
                height: get-vw-lg(24px);
                stroke-width: get-vw-lg(1.5px);
              }
              .facebook {
                width: get-vw-lg(24px);
                height: get-vw-lg(24px);
              }
              .mail {
                width: get-vw-lg(24px);
                height: get-vw-lg(24px);
                stroke-width: get-vw-lg(1.5px);
              }
            }
          }
        }
        .stamp {
          @include font($family: $font-alt, $size: get-vw-lg(14px), $weight: 700, $height: get-vw-lg(16.8px));
          @include flex($align: center, $gap: get-vw-lg(8px));
          padding: get-vw-lg(11px) get-vw-lg(10px);
          border-radius: get-vw-lg(30px);
          .icon {
            width: get-vw-lg(20px);
            height: get-vw-lg(20px);
            stroke-width: get-vw-lg(2px);
            x
          }
        }
      }
      .image {
        border-radius: get-vw-lg(8px);
      }
      .establishment-details {
        border-radius: get-vw-lg(8px);
        padding: get-vw-lg(30px) get-vw-lg(25px) 0 get-vw-lg(25px);
        box-shadow: 0 get-vw-lg(2px) 0 0 #0000001A;
        h2 {
          @include font($family: $font-alt, $size: get-vw-lg(20px), $weight: 800, $height: get-vw-lg(24px));
          padding: 0 0 get-vw-lg(17px) 0;
        }
        ul {
          li {
            padding: get-vw-lg(19px) 0 get-vw-lg(18px) 0;
            @include columns( $quant: get-vw-lg(42px) 1fr, $gutter: 0, $align: start, $template: '');
            .icon {
              .flag,
              .clock,
              .file {
                width: get-vw-lg(20px);
                height: get-vw-lg(20px);
                stroke-width: get-vw-lg(2px);
              }
            }
            .content {
              h3 {
                @include font($family: $font-alt, $size: get-vw-lg(14px), $weight: 800, $height: get-vw-lg(16.8px));
                padding: get-vw-lg(2px) 0;
              }
              p {
                @include font($family: $font-alt, $size: get-vw-lg(14px), $weight: 600, $height: get-vw-lg(22.4px), $color: rgba($color-black, 0.7));
                padding: 0 get-vw-lg(2px) 0 0;
              }
              .link-map {
                @include flex($type: inline, $align: center, $justify: start, $gap: get-vw-lg(4px));
                @include font($family: $font-alt, $size: get-vw-lg(12px), $weight: 700, $height: get-vw-lg(14.4px), $color: $color-red);
                .icon {
                  width: get-vw-lg(8px);
                  height: get-vw-lg(14px);
                  stroke-width: get-vw-lg(3px);
                }
                &:hover {
                  .icon {
                    margin: 0 get-vw-lg(-3px) 0 get-vw-lg(3px);
                  }
                }
              }
            }
          }
        }
      }
      .more-details {
        padding: get-vw-lg(44px) get-vw-lg(40px) get-vw-lg(47px) get-vw-lg(44px);
        border-radius: get-vw-lg(8px);
        box-shadow: 0 get-vw-lg(2px) 0 0 #0000001A;
        h2 {
          @include font($family: $font-alt, $size: get-vw-lg(20px), $weight: 800, $height: get-vw-lg(24px));
          padding: 0 0 get-vw-lg(14px) 0;
        }
        p {
          @include font($size: get-vw-lg(16px), $height: get-vw-lg(22.4px), $color: rgba($color-black, 0.7));
          padding: 0 0 get-vw-lg(21px) 0;
        }
        .tags {
          margin: get-vw-lg(25px) 0 0 0;
          padding: get-vw-lg(45px) 0 0 0;
          ul {
            margin: 0 get-vw-lg(-12px);
            li {
              @include font($family: $font-alt, $size: get-vw-lg(14px), $weight: 700, $height: get-vw-lg(16.8px));
              @include flex($type: inline, $align: center, $gap: get-vw-lg(8px));
              padding: get-vw-lg(11px) get-vw-lg(10px);
              margin: get-vw-lg(10px);
              border-radius: get-vw-lg(30px);
              .icon {
                width: get-vw-lg(20px);
                height: get-vw-lg(20px);
                stroke-width: get-vw-lg(2px);
              }
            }
          }
        }
      }
      .contact-details {
        border-radius: get-vw-lg(8px);
        padding: get-vw-lg(44px) get-vw-lg(25px) 0 get-vw-lg(29px);
        box-shadow: 0 get-vw-lg(2px) 0 0 #0000001A;
        h2 {
          @include font($family: $font-alt, $size: get-vw-lg(20px), $weight: 800, $height: get-vw-lg(24px));
          padding: 0 0 get-vw-lg(17px) 0;
        }
        ul {
          li {
            padding: get-vw-lg(19px) 0 get-vw-lg(18px) 0;
            @include columns( $quant: get-vw-lg(42px) 1fr, $gutter: 0, $align: start, $template: '');
            .icon {
              .phone,
              .pointer,
              .thumb-up {
                width: get-vw-lg(20px);
                height: get-vw-lg(20px);
                stroke-width: get-vw-lg(2px);
              }
            }
            .content {
              h3 {
                @include font($family: $font-alt, $size: get-vw-lg(14px), $weight: 800, $height: get-vw-lg(16.8px));
                padding: get-vw-lg(2px) 0;
              }
              p {
                @include font($family: $font-alt, $size: get-vw-lg(14px), $weight: 600, $height: get-vw-lg(22.4px), $color: rgba($color-black, 0.7));
                padding: 0 get-vw-lg(2px) 0 0;
              }
              .link-map {
                @include flex($type: inline, $align: center, $justify: start, $gap: get-vw-lg(4px));
                @include font($family: $font-alt, $size: get-vw-lg(12px), $weight: 700, $height: get-vw-lg(14.4px), $color: $color-red);
                .icon {
                  width: get-vw-lg(8px);
                  height: get-vw-lg(14px);
                  stroke-width: get-vw-lg(3px);
                }
              }
            }
          }
        }
      }
    }
    .banner-ticket {
      @include flex($align: center, $justify: center, $gap: get-vw-lg(30px));
      margin: get-vw-lg(25px) 0 0 0;
      padding: get-vw-lg(22px) 0;
      border-radius: get-vw-lg(8px);
      &::before {
        width: get-vw-lg(138px);
        height: get-vw-lg(87px);
      }
      &::after {
        width: get-vw-lg(138px);
        height: get-vw-lg(87px);
      }
      h4 {
        @include font($family: $font-alt, $size: get-vw-lg(20px), $weight: 800, $height: get-vw-lg(24px));
        @include flex($align: center, $justify: start, $gap: get-vw-lg(16px));
        .ticket {
          width: get-vw-lg(28px);
          height: get-vw-lg(28px);
          stroke-width: get-vw-lg(1.5px);
        }
      }
      a {
        @include font($family: $font-alt, $size: get-vw-lg(14px), $weight: 700, $height: get-vw-lg(19.6px), $color: $color-white);
        padding: get-vw-lg(11px) get-vw-lg(41px);
        border-radius: get-vw-lg(40px);
      }
    }
    .photo-gallery {
      padding: get-vw-lg(108px) 0 get-vw-lg(53px) 0;
      h2 {
        @include font($family: $font-alt, $size: get-vw-lg(32px), $weight: 800, $height: get-vw-lg(38.4px));
        padding: 0 0 get-vw-lg(17px) 0;
      }
      .slide-photo-gallery {
        .btn {
          margin-top: get-vw-lg(-25px);
          width: get-vw-lg(50px);
          height: get-vw-lg(50px);
          padding: 0 get-vw-lg(11px);
          &.btn-prev {
            left: get-vw-lg(-94px);
            &:hover {
              .icon {
                margin-left: get-vw-lg(-5px);
              }
            }
          }
          &.btn-next {
            right: get-vw-lg(-91px);
            &:hover {
              .icon {
                margin-right: get-vw-lg(-5px);
              }
            }
          }
        }
        .slide {
          margin: 0 get-vw-lg(-14px);
          .slick-slide {
            padding: get-vw-lg(14px) get-vw-lg(14px) get-vw-lg(25px) get-vw-lg(14px);
            .item {
              height: get-vw-lg(244px);
              border-radius: get-vw-lg(8px);
            }
          }
        }
      }
    }
  }
  .cat-events-sigle {
    padding: 0 0 get-vw-lg(39px) 0;
    .title {
      padding: get-vw-lg(70px) 0 get-vw-lg(17px) 0;
      h2 {
        @include font($family: $font-alt, $size: get-vw-lg(32px), $weight: 800, $height: get-vw-lg(38.4px));
      }
      .link {
        @include font($family: $font-alt, $size: get-vw-lg(16px), $weight: 700, $height: get-vw-lg(19.2px), $color: $color-red);
        .icon {
          width: get-vw-lg(12px);
          height: get-vw-lg(10px);
          stroke-width: get-vw-lg(2px);
          margin: 0 0 0 get-vw-lg(5px);
        }
        &:hover {
          .icon {
            margin: 0 get-vw-lg(-5px) 0 get-vw-lg(10px);
          }
        }
      }
    }
    .slide-box {
      padding: 0 0 get-vw-lg(44px) 0;
      .slide {
        margin: 0 get-vw-lg(-14px);
        .item {
          padding: get-vw-lg(14px) get-vw-lg(14px) get-vw-lg(25px) get-vw-lg(14px);
        }
      }
      .btn {
        margin-top: get-vw-lg(-55px);
        width: get-vw-lg(50px);
        height: get-vw-lg(50px);
        padding: 0 get-vw-lg(11px);
        &.btn-prev {
          left: get-vw-lg(-94px);
          &:hover {
            .icon {
              margin-left: get-vw-lg(-5px);
            }
          }
        }
        &.btn-next {
          right: get-vw-lg(-91px);
          &:hover {
            .icon {
              margin-right: get-vw-lg(-5px);
            }
          }
        }
      }
      .slick-dots {
        width: get-vw-calc(lg, 100%, '-', 28px);
        li {
          height: get-vw-lg(2px);
          button {
            height: get-vw-lg(2px);
          }
        }
      }
    }
  }
  .full-banner {
    padding: get-vw-lg(68px) 0 get-vw-lg(140px) 0;
  }
}