/*======================================
  Ticket list
======================================*/

@include breakpoint2($min:sm, $max:lg) {
  .top-banner {
    .grid {
      @include columns( $quant: 1.2fr 1fr, $gutter: 0, $align: center, $template: '');
      .text {
        padding: get-vw-lg(76px) 0 get-vw-lg(61px) 0;
        @include columns( $quant: auto get-vw-lg(21px) 1fr, $gutter: get-vw-lg(17px), $align: start, $template: '');
        .tag {
          @include font($family: $font-alt, $size: get-vw-lg(14px), $weight: 700, $height: get-vw-lg(16.8px), $color: $color-white);
          padding: get-vw-lg(10px) get-vw-lg(16px);
          border-radius: get-vw-lg(30px);
          margin: get-vw-lg(3px) 0 0 get-vw-lg(2px);
        }
        .icon {
          width: get-vw-lg(23px);
          height: get-vw-lg(43px);
          margin: 0 get-vw-lg(-1px) 0 get-vw-lg(1px);
          stroke-width: get-vw-lg(1.5px);
        }
        .description {
          h1 {
            @include font($family: $font-alt, $size: get-vw-lg(36px), $weight: 800, $height: get-vw-lg(43.2px));
            padding: 0 0 get-vw-lg(17px) get-vw-lg(5px);
          }
          p {
            @include font($size: get-vw-lg(16px), $height: get-vw-lg(25.6px), $color: rgba($color-black, 0.7));
          }
        }
      }
    }
  }
  .list-tickets {
    .grid {
      @include columns( $quant: get-vw-lg(257px) 1fr, $gutter: get-vw-lg(27px), $align: start, $template: 'sidebar content');
      padding: get-vw-lg(109px) 0 0 get-vw-lg(5px);
      .sidebar {
        border-radius: get-vw-lg(8px);
        padding: get-vw-lg(28px) get-vw-lg(18px) 0 get-vw-lg(18px);
        .box-filter {
          padding: 0 get-vw-lg(13px) 0 0;
          h3 {
            @include font($family: $font-alt, $size: get-vw-lg(18px), $weight: 800, $height: get-vw-lg(21.6px));
            padding: get-vw-lg(24px) 0;
            .icon {
              width: get-vw-lg(11px);
              height: get-vw-lg(20px);
              stroke-width: get-vw-lg(2px);
            }
          }
          .box {
            ul {
              li {
                padding: 0 0 get-vw-lg(24px) 0;
                label {
                  input {
                    left: get-vw-lg(-40px);
                  }
                  .label {
                    @include font($family: $font-alt, $size: get-vw-lg(14px), $weight: 700, $height: get-vw-lg(16.8px));
                    @include columns( $quant: get-vw-lg(15px) 1fr, $gutter: get-vw-lg(7px), $align: center, $template: '');
                    .field {
                      width: get-vw-lg(15px);
                      height: get-vw-lg(15px);
                      border-radius: get-vw-lg(2px);
                      .icon {
                        width: get-vw-lg(9px);
                        height: get-vw-lg(14px);
                        stroke-width: get-vw-lg(1.5px);
                        margin: 0 0 0 get-vw-lg(2px);
                      }
                    }
                  }
                }
                &.hide {
                  left: get-vw-lg(-10px);
                }
              }
            }
          }
          .more-options {
            @include font($family: $font-alt, $size: get-vw-lg(16px), $weight: 700, $height: get-vw-lg(19.2px), $color: $color-red);
            @include flex($align: center, $justify: start, $gap: get-vw-lg(7px));
            padding: 0 0 get-vw-lg(24px) 0;
            .icon {
              width: get-vw-lg(11px);
              height: get-vw-lg(20px);
              stroke-width: get-vw-lg(2px);
            }
          }
          &#search {
            padding-bottom: get-vw-lg(23px);
            h3 {
              padding-bottom: get-vw-lg(8px);
            }
            .box-input {
              input {
                width: get-vw-lg(217px);
                height: get-vw-lg(42px);
                border-radius: get-vw-lg(4px);
                padding: 0 get-vw-lg(38px) 0 get-vw-lg(11px);
                @include font($family: $font-alt, $size: get-vw-lg(14px), $weight: 600, $height: get-vw-lg(22.4px), $color: $color-red);
              }
              .icon {
                top: get-vw-lg(9px);
                right: get-vw-lg(1px);
                width: get-vw-lg(22px);
                height: get-vw-lg(22px);
                stroke-width: get-vw-lg(2px);
              }
            }
          }
          &.last {
            padding: 0 get-vw-lg(13px) get-vw-lg(27px) 0;
          }
        }
      }
      .content {
        .grid-list {
          @include columns( $quant: repeat(3, 1fr), $gutter: get-vw-lg(27px), $align: start, $template: '');
        }
        .full-banner {
          padding: get-vw-lg(47px) 0 get-vw-lg(48px) 0;
        }
        .center {
          padding: get-vw-lg(70px) 0 get-vw-lg(88px) 0;
        }
        .load-more {
          padding: get-vw-lg(13px) get-vw-lg(41px);
          border-radius: get-vw-lg(40px);
          @include font($family: $font-alt, $size: get-vw-lg(14px), $weight: 700, $height: get-vw-lg(19.6px), $color: $color-red);
        }
      }
    }
  }
}