/*======================================
  About
======================================*/

@include breakpoint2($min:sm, $max:lg) {
  .about {
    padding: 0 0 get-vw-lg(85px) 0;
    .title {
      padding: get-vw-lg(77px) 0 0 0;
      .grid {
        @include columns( $quant: 1fr 1fr, $gutter: 0, $align: start, $template: '');
        .text {
          .tag {
            @include font($family: $font-alt, $size: get-vw-lg(14px), $weight: 700, $height: get-vw-lg(16.8px), $color: $color-white);
            padding: get-vw-lg(10px) get-vw-lg(16px);
            border-radius: get-vw-lg(30px);
          }
          h1 {
            @include font($family: $font-alt, $size: get-vw-lg(56px), $weight: 800, $height: get-vw-lg(67.2px));
            padding: get-vw-lg(23px) 0 get-vw-lg(22px) get-vw-lg(1px);
          }
          p {
            @include font($size: get-vw-lg(18px), $height: get-vw-lg(25.2px), $color: rgba($color-black, 0.7));
            padding: 0 get-vw-lg(16px) 0 get-vw-lg(4px);
          }
        }
        .image {
          padding: 0 0 0 get-vw-lg(54px);
          img {
            margin: 0 get-vw-lg(-23px) 0 0;
          }
        }
      }
    }
    .grid-content {
      @include columns( $quant: 1.15fr 1fr, $gutter: get-vw-lg(28px), $align: start, $template: '');
      .text {
        padding: get-vw-lg(117px) 0 0 get-vw-lg(6px);
        p {
          @include font($size: get-vw-lg(16px), $height: get-vw-lg(25.6px), $color: #6F6F6F);
          padding: 0 get-vw-lg(16px) get-vw-lg(28px) get-vw-lg(4px);
        }
      }
      .image {
        padding: get-vw-lg(99px) get-vw-lg(5px) 0 0;
      }
    }
    .grid-content-bottom {
      @include columns( $quant: 1.4fr 1fr, $gutter: get-vw-lg(64px), $align: start, $template: '');
      .text {
        padding: get-vw-lg(56px) 0 0 get-vw-lg(6px);
        ul {
          padding: 0 0 get-vw-lg(37px) 0;
          margin: 0 0 0 get-vw-lg(-4px);
          li {
            @include font($size: get-vw-lg(16px), $weight: 700, $height: get-vw-lg(19.2px), $color: $color-red);
            padding: 0 0 0 get-vw-lg(20px);
            &:before {
              width: get-vw-lg(8px);
              height: get-vw-lg(8px);
              margin-top: get-vw-lg(-4px);
            }
          }
        }
        .link-pdf {
          padding: get-vw-lg(11px) get-vw-lg(22px);
          border-radius: get-vw-lg(40px);
          @include font($family: $font-alt, $size: get-vw-lg(16px), $weight: 700, $height: get-vw-lg(19.6px), $align: center, $color: $color-white);
          margin: 0 0 0 get-vw-lg(-6px);
        }
      }
      .image {
        padding: get-vw-lg(42px) get-vw-lg(5px) 0 0;
        p {
          @include font($size: get-vw-lg(16px), $weight: 800, $height: get-vw-lg(25.6px), $color: $color-black);
          a {
            &::after {
              height: get-vw-lg(2px);
              bottom: get-vw-lg(-4px);
            }
          }
        }
      }
    }
  }
}