/*======================================
  Home
======================================*/

.slide-full {
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(249, 249, 249, 1) 100%);
  .container {
    position: relative;
  }
  .btn {
    display: none;
  }
  .slide {
    border-radius: get-vw-sm(8px);
    overflow: hidden;
    .slick-slide {
      &>div {
        display: block;
        font-size: 0;
      }
    }
    .item {
      width: 100%;
      height: get-vw-sm(922px);
      position: relative;
      .image {
        width: 100%;
        height: 100%;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &::after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(360deg, #000000 0%, rgba(102, 102, 102, 0) 88.02%);
        }
      }
      .content {
        width: get-vw-calc(sm, 100%, '-', 148px);
        position: absolute;
        bottom: get-vw-sm(89px);
        left: get-vw-sm(74px);
        border-top: get-vw-sm(1px) solid $color-white;
        padding: get-vw-sm(50px) 0 0 0;
        .left {
          padding: 0 0 get-vw-sm(41px) 0;
          h2 {
            @include font($family: $font-alt, $size: get-vw-sm(41px), $weight: 800, $height: get-vw-sm(49px), $color: $color-white);
            padding: 0 0 get-vw-sm(34px) 0;
          }
          .link {
            @include font($family: $font-alt, $size: get-vw-sm(33px), $weight: 700, $height: get-vw-sm(59.2px), $color: $color-red);
            .icon {
              @include animate($time: 0.3s);
              width: get-vw-sm(22px);
              height: get-vw-sm(22px);
              transform: rotate(-90deg);
              margin: 0 0 0 get-vw-sm(2px);
              stroke: $color-red;
              stroke-width: get-vw-sm(2px);
              stroke-linecap: round;
              stroke-linejoin: round;
            }
            &:hover {
              .icon {
                margin: 0 0 0 get-vw-sm(7px);
              }
            }
          }
        }
        .right {
          @include flex($align: center, $justify: space-between);
          padding: 0 get-vw-sm(12px) get-vw-sm(4px) 0;
          span {
            @include font($family: $font-alt, $size: get-vw-sm(25px), $weight: 700, $height: get-vw-sm(30px), $color: $color-white);
            @include flex($align: center, $gap: get-vw-sm(16px));
            .flag {
              width: get-vw-sm(30px);
              height: get-vw-sm(30px);
              fill: transparent;
              stroke: $color-white;
              stroke-width: get-vw-sm(1.5px);
              stroke-linecap: round;
              stroke-linejoin: round;
            }
            .calendar {
              width: get-vw-sm(30px);
              height: get-vw-sm(30px);
              fill: transparent;
              stroke: $color-white;
              stroke-width: get-vw-sm(1.5px);
              stroke-linecap: round;
              stroke-linejoin: round;
            }
            &.first {
              border-right: get-vw-sm(1px) solid $color-white;
              padding-right: get-vw-sm(33px);
            }
            &.last {
              padding-left: get-vw-sm(30px);
            }
          }
        }
      }
    }
  }
}

.search {
  padding: get-vw-sm(15px) 0 0 get-vw-sm(6px);
  background-color: #F9F9F9;
  .grid {
    border-bottom: get-vw-sm(1px) solid #E0E0E0;
    padding: 0 0 get-vw-sm(100px) 0;
    position: relative;
    @include columns( $quant: 1fr, $gutter: get-vw-sm(72px), $align: start, $template: '');
    .text {
      padding: get-vw-sm(40px) 0 0 0;
      .subtitle {
        @include font($size: get-vw-sm(29px), $align: center, $height: 100%);
        display: block;
        padding: 0 0 get-vw-sm(37px) 0;
      }
      h2 {
        @include font($family: $font-alt, $size: get-vw-sm(81px), $align: center, $weight: 800, $height: 124%);
        padding: 0 0 get-vw-sm(48px) 0;
      }
      p {
        @include font($size: get-vw-sm(33px), $height: 137%, $align: center, $color: rgba($color-black, 0.6));
      }
    }
    .form {
      .image {
        display: none;
      }
      .box-search {
        @include columns( $quant: 1fr get-vw-sm(137px), $gutter: get-vw-sm(20px), $align: center, $template: '');
        width: 100%;
        height: get-vw-sm(136px);
        border-radius: get-vw-sm(70px);
        border: get-vw-sm(2px) solid #A6A6A6;
        padding: 0 get-vw-sm(14px) 0 get-vw-sm(52px);
        input {
          @include font($family: $font-alt, $size: get-vw-sm(36px), $weight: 500, $height: 100%, $color: rgba($color-black, 0.5));
          outline: none;
          border: none;
          background: transparent;
        }
        button {
          width: 100%;
          height: get-vw-sm(110px);
          border-radius: get-vw-sm(60px);
          outline: none;
          border: none;
          background: $color-red;
          border: get-vw-sm(1px) solid $color-red;
          @include flex($align: center, $justify: center);
          @include animate($time: 0.3s);
          .icon {
            width: get-vw-sm(48px);
            height: get-vw-sm(48px);
            fill: transparent;
            stroke: $color-white;
            stroke-width: get-vw-sm(2px);
            stroke-linecap: round;
            stroke-linejoin: round;
            @include animate($time: 0.3s);
          }
          &:hover {
            background: $color-white;
            .icon {
              stroke: $color-red;
            }
          }
        }
      }
    }
    .between {
      display: none;
    }
  }
}

.list-cat {
  padding: get-vw-sm(123px) 0 0 0;
  background-color: #F9F9F9;
  h2 {
    @include font($family: $font-alt, $size: get-vw-sm(41px), $align: center, $weight: 800, $height: 100%);
    padding: 0 0 get-vw-sm(71px) 0;
  }
  .slide {
    margin: 0 get-vw-sm(-7px);
    max-width: 91%;
    .slick-list {
      overflow: inherit !important;
    }
    .slick-slide {
      padding: 0 get-vw-sm(7px);
    }
    .item {
      border-radius: get-vw-sm(14px);
      border: get-vw-sm(3px) solid #E6E6E6;
      padding: get-vw-sm(26px) get-vw-sm(41px) get-vw-sm(46px) get-vw-sm(41px);
      @include animate($time: 0.3s);
      .icon {
        width: get-vw-sm(52px);
        height: get-vw-sm(52px);
        margin: 0 0 get-vw-sm(47px) 0;
        img {
          width: 100%;
          height: auto;
        }
      }
      h3 {
        @include font($family: $font-alt, $size: get-vw-sm(28px), $weight: 700, $height: 120%);
      }
      &:hover {
        background-color: rgba(230, 230, 230, .3);
      }
    }
  }
}

.featured-events {
  padding: get-vw-sm(143px) 0 get-vw-sm(180px) 0;
  position: relative;
  background-color: #F9F9F9;
  .title {
    padding: 0 0 get-vw-sm(40px) 0;
    h2 {
      @include font($family: $font-alt, $size: get-vw-sm(58px), $weight: 800, $height: 100%);
      padding: 0 0 get-vw-sm(20px) 0;
    }
    .location {
      @include font($family: $font-alt, $size: get-vw-sm(33px), $weight: 700, $height: 120%);
    }
  }
  .slide-box {
    .slide {
      margin: 0 get-vw-sm(-14px);
      .item {
        padding: get-vw-sm(14px) get-vw-sm(14px) get-vw-sm(45px) get-vw-sm(14px);
      }
    }
    .btn {
      position: absolute;
      bottom: get-vw-sm(72px);
      margin-top: get-vw-sm(-55px);
      width: get-vw-sm(104px);
      height: get-vw-sm(104px);
      @include flex($align: center, $justify: center);
      background-color: $color-white;
      border-radius: 50%;
      padding: 0 get-vw-sm(20px);
      overflow: hidden;
      .icon {
        @include animate($time: 0.3s);
      }
      &.btn-prev {
        left: 50%;
        margin: 0 0 0 get-vw-sm(-118px);
        &:hover {
          .icon {
            margin-left: get-vw-sm(-5px);
          }
        }
      }
      &.btn-next {
        right: 50%;
        margin: 0 get-vw-sm(-118px) 0 0;
        .icon {
          transform: rotate(180deg);
        }
        &:hover {
          .icon {
            margin-right: get-vw-sm(-5px);
          }
        }
      }
    }
  }
}

.featured-banner {
  padding: get-vw-sm(18px) 0 0 0;
  background-color: #F9F9F9;
  .box {
    @include columns( $quant: 1fr, $gutter: 0, $align: start, $template: 'title' 'text' 'image');
    background: $color-orange;
    border-radius: get-vw-sm(16px);
    h2 {
      grid-area: title;
      padding: get-vw-sm(86px) get-vw-sm(41px) 0;
      @include font($family: $font-alt, $size: get-vw-sm(58.3px), $align: center, $weight: 800, $height: 120%);
    }
    .image {
      grid-area: image;
      padding: get-vw-sm(192px) 0 0 0;
      overflow: hidden;
      img {
        width: 127%;
        height: auto;
        margin: 0 0 0 get-vw-sm(0px);
      }
    }
    .text {
      text-align: center;
      grid-area: text;
      padding: get-vw-sm(32px) 0 0 0;
      p {
        @include font($family: $font-alt, $size: get-vw-sm(33px), $align: center, $weight: 600, $height: 120%);
        padding: 0 get-vw-sm(100px) get-vw-sm(47px);
      }
      .link {
        height: get-vw-sm(88px);
        border-radius: get-vw-sm(88px);
        background: $color-red;
        border: get-vw-sm(1px) solid $color-red;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @include font($family: $font-alt, $size: get-vw-sm(33px), $weight: 700, $height: 100%, $color: $color-white);
        padding: 0 get-vw-sm(44px);
        .icon {
          transform: rotate(-90deg);
          width: get-vw-sm(21px);
          height: get-vw-sm(24px);
          stroke: $color-white;
          stroke-width: get-vw-sm(2px);
          stroke-linecap: round;
          stroke-linejoin: round;
          margin: 0 get-vw-sm(-5px) 0 get-vw-sm(12px);
          @include animate($time: 0.3s);
        }
        &:hover {
          .icon {
            margin: 0 get-vw-sm(-5px) 0 get-vw-sm(10px);
          }
        }
      }
    }
  }
}

.cat-events {
  padding: get-vw-sm(178px) 0 get-vw-sm(197px) 0;
  background-color: #F9F9F9;
  .title {
    padding: get-vw-sm(64px) 0 get-vw-sm(42px) 0;
    h2 {
      @include font($family: $font-alt, $size: get-vw-sm(58px), $weight: 800, $height: 100%);
    }
    .link {
      display: none;
    }
  }
  .slide-box {
    position: relative;
    padding: 0 0 get-vw-sm(44px) 0;
    width: 80%;
    .slide {
      margin: 0 get-vw-sm(-14px);
      .slick-list {
        overflow: inherit !important;
      }
      .item {
        padding: get-vw-sm(14px) get-vw-sm(14px) get-vw-sm(25px) get-vw-sm(14px);
      }
    }
    .btn {
      display: none;
    }
    .slick-dots {
      @include flex($align: center);
      width: 100%;
      margin: get-vw-sm(70px) auto 0 auto;
      li {
        height: get-vw-sm(2px);
        padding: 0;
        width: 100%;
        line-height: 0;
        button {
          font-size: 0;
          border: none;
          height: get-vw-sm(2px);
          background-color: #E8E8E8;
          margin: 0;
          width: 100%;
          @include animate($time: 0.6s);
        }
        &.slick-active {
          button {
            background-color: $color-black;
          }
        }
      }
    }
  }
}

.featured-blog {
  padding: get-vw-sm(208px) 0 0 0;
  h2 {
    @include font($family: $font-alt, $size: get-vw-sm(65px), $align: center, $weight: 800, $height: 120%);
    padding: 0 0 get-vw-sm(134px) 0;
  }
  .slide-box {
    position: relative;
    padding: 0 0 get-vw-sm(236px) 0;
    .slide {
      margin: 0 get-vw-sm(-14px);
      .item {
        padding: get-vw-sm(14px) get-vw-sm(14px) get-vw-sm(25px) get-vw-sm(14px);
      }
    }
    .btn {
      position: absolute;
      bottom: get-vw-sm(72px);
      margin-top: get-vw-sm(-55px);
      width: get-vw-sm(104px);
      height: get-vw-sm(104px);
      @include flex($align: center, $justify: center);
      background-color: $color-white;
      border-radius: 50%;
      padding: 0 get-vw-sm(20px);
      overflow: hidden;
      .icon {
        @include animate($time: 0.3s);
      }
      &.btn-prev {
        left: 50%;
        margin: 0 0 0 get-vw-sm(-118px);
        &:hover {
          .icon {
            margin-left: get-vw-sm(-5px);
          }
        }
      }
      &.btn-next {
        right: 50%;
        margin: 0 get-vw-sm(-118px) 0 0;
        .icon {
          transform: rotate(180deg);
        }
        &:hover {
          .icon {
            margin-right: get-vw-sm(-5px);
          }
        }
      }
    }
    .slick-dots {}
  }
}

.full-banner {
  padding: get-vw-sm(144px) 0 get-vw-sm(63px) 0;
  text-align: center;
  img {
    width: 100%;
    height: get-vw-sm(275px);
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}