/*======================================
  Ticket list
======================================*/

.top-banner {
  background-color: $color-orange;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: none !important;
  .grid {
    @include columns( $quant: 1fr, $gutter: 0, $align: center, $template: '');
    .text {
      padding: get-vw-xs(76px) 0;
      //@include flex($align: start, $gap: get-vw-xs(19px));
      //@include columns( $quant: 1fr, $gutter: get-vw-xs(17px), $align: start, $template: '');
      .tag {
        @include font($family: $font-alt, $size: get-vw-xs(14px), $weight: 700, $height: get-vw-xs(16.8px), $color: $color-white);
        padding: get-vw-xs(10px) get-vw-xs(16px);
        background-color: $color-black;
        border-radius: get-vw-xs(30px);
        margin: get-vw-xs(3px) 0 get-vw-xs(20px) get-vw-xs(2px);
        display: inline-block;
      }
      .icon {
        display: none;
        width: get-vw-xs(23px);
        height: get-vw-xs(43px);
        margin: 0 get-vw-xs(-1px) 0 get-vw-xs(1px);
        stroke: $color-red;
        stroke-width: 1.5px;
        stroke-linecap: round;
        stroke-linejoin: round;
        transform: rotate(-90deg);
      }
      .description {
        h1 {
          @include font($family: $font-alt, $size: get-vw-xs(36px), $weight: 800, $height: get-vw-xs(43.2px));
          padding: 0 0 get-vw-xs(17px) 0;
        }
        p {
          @include font($size: get-vw-xs(16px), $height: get-vw-xs(25.6px), $color: rgba($color-black, 0.7));
        }
      }
    }
  }
}

.list-tickets {
  .grid {
    @include columns( $quant: 1fr, $gutter: get-vw-xs(27px), $align: start, $template: 'sidebar' 'content');
    padding: get-vw-xs(109px) 0 0 get-vw-xs(5px);
    .sidebar {
      width: 100%;
      border: get-vw-xs(1px) solid #D7D7D7;
      border-radius: get-vw-xs(8px);
      padding: get-vw-xs(28px) get-vw-xs(18px) 0 get-vw-xs(18px);
      .box-filter {
        border-bottom: get-vw-xs(1px) solid #EAEAEA;
        padding: 0 get-vw-xs(13px) 0 0;
        h3 {
          @include font($family: $font-alt, $size: get-vw-xs(18px), $weight: 800, $height: get-vw-xs(21.6px));
          @include flex($align: center, $justify: space-between);
          padding: get-vw-xs(24px) 0;
          .icon {
            width: get-vw-xs(11px);
            height: get-vw-xs(20px);
            margin: 0;
            stroke: $color-red;
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;
          }
        }
        .box {
          ul {
            li {
              padding: 0 0 get-vw-xs(24px) 0;
              position: relative;
              left: get-vw-xs(0px);
              visibility: visible;
              opacity: 1;
              height: auto;
              @include animate($time: 0.3s);
              label {
                position: relative;
                input {
                  position: absolute;
                  top: 0;
                  left: get-vw-xs(-40px);
                  opacity: 0;
                  visibility: hidden;
                }
                .label {
                  @include font($family: $font-alt, $size: get-vw-xs(14px), $weight: 700, $height: get-vw-xs(16.8px));
                  @include columns( $quant: get-vw-xs(15px) 1fr, $gutter: get-vw-xs(7px), $align: center, $template: '');
                  .field {
                    width: get-vw-xs(15px);
                    height: get-vw-xs(15px);
                    border: get-vw-xs(1px) solid #828282;
                    border-radius: get-vw-xs(2px);
                    @include animate($time: 0.3s);
                    .icon {
                      width: get-vw-xs(9px);
                      height: get-vw-xs(14px);
                      fill: transparent;
                      stroke: $color-white;
                      stroke-width: 1.5px;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      margin: 0 0 0 get-vw-xs(2px);
                      visibility: hidden;
                      opacity: 0;
                      transform: scale(10);
                      @include animate($time: 0.3s);
                    }
                  }
                }
                input:checked~.label .field {
                  background-color: $color-red;
                  border-color: $color-red;
                }
                input:checked~.label .field .icon {
                  visibility: visible;
                  opacity: 1;
                  transform: scale(1);
                }
              }
              &.hide {
                position: relative;
                left: get-vw-xs(-10px);
                visibility: hidden;
                opacity: 0;
                height: 0;
                padding: 0;
              }
            }
          }
        }
        .more-options {
          @include font($family: $font-alt, $size: get-vw-xs(16px), $weight: 700, $height: get-vw-xs(19.2px), $color: $color-red);
          @include flex($align: center, $justify: start, $gap: get-vw-xs(7px));
          padding: 0 0 get-vw-xs(24px) 0;
          .icon {
            width: get-vw-xs(11px);
            height: get-vw-xs(20px);
            margin: 0;
            stroke: $color-red;
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;
          }
        }
        &#search {
          padding-bottom: get-vw-xs(23px);
          h3 {
            padding-top: 0;
            padding-bottom: get-vw-xs(8px);
          }
          .box-input {
            position: relative;
            input {
              width: get-vw-xs(217px);
              height: get-vw-xs(42px);
              border-radius: get-vw-xs(4px);
              border: get-vw-xs(1px) solid #D7D7D7;
              padding: 0 get-vw-xs(38px) 0 get-vw-xs(11px);
              background: transparent;
              @include font($family: $font-alt, $size: get-vw-xs(14px), $weight: 600, $height: get-vw-xs(22.4px), $color: $color-red);
            }
            .icon {
              position: absolute;
              top: get-vw-xs(9px);
              right: get-vw-xs(1px);
              width: get-vw-xs(22px);
              height: get-vw-xs(22px);
              fill: transparent;
              stroke: $color-red;
              stroke-width: 2px;
              stroke-linecap: round;
              stroke-linejoin: round;
            }
          }
        }
        &.last {
          border-bottom: none;
          padding: 0 get-vw-xs(13px) get-vw-xs(27px) 0;
        }
      }
    }
    .content {
      .grid-list {
        @include columns( $quant: 1fr, $gutter: get-vw-xs(50px), $align: start, $template: '');
      }
      .full-banner {
        padding: get-vw-xs(47px) 0 get-vw-xs(48px) 0;
        text-align: center;
        img {
          width: 100%;
          height: auto;
        }
      }
      .center {
        text-align: center;
        padding: get-vw-xs(70px) 0 get-vw-xs(88px) 0;
      }
      .load-more {
        padding: get-vw-xs(13px) get-vw-xs(41px);
        border: get-vw-xs(1px) solid $color-red;
        border-radius: get-vw-xs(40px);
        @include font($family: $font-alt, $size: get-vw-xs(14px), $weight: 700, $height: get-vw-xs(19.6px), $color: $color-red);
        @include animate($time: 0.3s);
        &:hover {
          background: $color-red;
          color: $color-white;
        }
      }
    }
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}