/*======================================
  Home
======================================*/

.slide-full {
  width: 100%;
  .container {
    position: relative;
  }
  .btn {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    width: 28px;
    height: 28px;
    @include flex($align: center, $justify: center);
    overflow: hidden;
    .icon {
      @include animate($time: 0.3s);
    }
    &.btn-prev {
      left: -74px;
      &:hover {
        .icon {
          margin-left: -5px;
        }
      }
    }
    &.btn-next {
      right: -71px;
      .icon {
        transform: rotate(180deg);
      }
      &:hover {
        .icon {
          margin-right: -5px;
        }
      }
    }
  }
  .slide {
    border-radius: 8px;
    overflow: hidden;
    .item {
      width: 100%;
      height: 434px;
      position: relative;
      .image {
        width: 100%;
        height: 100%;
        position: relative;
        &::after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(360deg, #000000 0%, rgba(102, 102, 102, 0) 88.02%);
        }
      }
      .content {
        width: calc(100% - 88px);
        position: absolute;
        bottom: 39px;
        left: 44px;
        @include flex($align: flex-end, $justify: space-between);
        border-top: 1px solid $color-white;
        padding: 32px 0 0 0;
        .left {
          h2 {
            @include font($family: $font-alt, $size: 20px, $weight: 800, $height: 24px, $color: $color-white);
            padding: 0 0 8px 0;
          }
          .link {
            @include font($family: $font-alt, $size: 16px, $weight: 700, $height: 19.2px, $color: $color-red);
            .icon {
              @include animate($time: 0.3s);
              width: 12px;
              height: 10px;
              transform: rotate(-90deg);
              margin: 0 0 0 2px;
              stroke: $color-red;
              stroke-width: 2px;
              stroke-linecap: round;
              stroke-linejoin: round;
            }
            &:hover {
              .icon {
                margin: 0 0 0 7px;
              }
            }
          }
        }
        .right {
          @include flex($align: center, $justify: end);
          padding: 0 12px 4px 0;
          span {
            @include font($family: $font-alt, $size: 14px, $weight: 700, $height: 16.8px, $color: $color-white);
            @include flex($align: center, $gap: 9px);
            .flag {
              width: 20px;
              height: 20px;
              fill: transparent;
              stroke: $color-white;
              stroke-width: 1.5px;
              stroke-linecap: round;
              stroke-linejoin: round;
            }
            .calendar {
              width: 20px;
              height: 20px;
              fill: transparent;
              stroke: $color-white;
              stroke-width: 1.5px;
              stroke-linecap: round;
              stroke-linejoin: round;
            }
            &.first {
              border-right: 1px solid $color-white;
              padding-right: 33px;
            }
            &.last {
              padding-left: 30px;
            }
          }
        }
      }
    }
  }
}

.search {
  padding: 54px 0 0 6px;
  .grid {
    border-bottom: 1px solid #E0E0E0;
    padding: 0 0 51px 0;
    position: relative;
    @include columns( $quant: 1fr 1.2fr, $gutter: 110px, $align: start, $template: '');
    .text {
      padding: 40px 0 0 0;
      .subtitle {
        @include font($size: 16px, $height: 22.4px);
        display: block;
        padding: 0 0 8px 0;
      }
      h2 {
        @include font($family: $font-alt, $size: 56px, $weight: 800, $height: 67.2px);
        padding: 0 0 24px 0;
      }
      p {
        @include font($size: 18px, $height: 25.2px, $color: rgba($color-black, 0.6));
      }
    }
    .form {
      .image {
        img {
          width: 100%;
          height: auto;
        }
      }
      .box-search {
        @include columns( $quant: 1fr 60px, $gutter: 20px, $align: center, $template: '');
        width: 100%;
        height: 66px;
        border-radius: 60px;
        border: 1px solid #A6A6A6;
        padding: 0 9px 0 40px;
        input {
          @include font($family: $font-alt, $size: 18px, $weight: 500, $height: 25.2px, $color: rgba($color-black, 0.5));
          outline: none;
          border: none;
          background: transparent;
        }
        button {
          width: 60px;
          height: 53px;
          border-radius: 60px;
          outline: none;
          border: none;
          background: $color-red;
          border: 1px solid $color-red;
          @include flex($align: center, $justify: center);
          @include animate($time: 0.3s);
          .icon {
            width: 24px;
            height: 24px;
            fill: transparent;
            stroke: $color-white;
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;
            @include animate($time: 0.3s);
          }
          &:hover {
            background: $color-white;
            .icon {
              stroke: $color-red;
            }
          }
        }
      }
    }
    .between {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 101px;
      height: 56px;
      margin: 16px 0 0 -123px;
      .icon {
        width: 100%;
        height: 100%;
        fill: transparent;
      }
    }
  }
}

.list-cat {
  padding: 63px 0 0 0;
  h2 {
    @include font($family: $font-alt, $size: 24px, $weight: 800, $height: 28.8px);
    padding: 0 0 24px 0;
  }
  .grid {
    @include columns( $quant: repeat(6, 1fr), $gutter: 30px, $align: center, $template: '');
    .item {
      border-radius: 8px;
      border: 2px solid #E6E6E6;
      padding: 16px 26px 22px 19px;
      @include animate($time: 0.3s);
      .icon {
        width: 24px;
        height: 24px;
        margin: 0 0 20px 0;
        img {
          width: 100%;
          height: auto;
        }
      }
      h3 {
        @include font($family: $font-alt, $size: 16px, $weight: 700, $height: 19.2px);
      }
      &:hover {
        background-color: rgba(230, 230, 230, .3);
      }
    }
  }
}

.featured-events {
  padding: 81px 0 0 0;
  position: relative;
  &::before {
    content: '';
    width: 100%;
    height: calc(100% - 322px);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #F9F9F9;
  }
  .title {
    @include flex($align: center, $justify: space-between);
    padding: 0 0 18px 0;
    h2 {
      @include font($family: $font-alt, $size: 32px, $weight: 800, $height: 38.4px);
    }
    .location {
      @include font($family: $font-alt, $size: 16px, $weight: 700, $height: 19.2px);
    }
  }
  .slide-box {
    position: relative;
    .slide {
      margin: 0 -14px;
      .item {
        padding: 14px 14px 25px 14px;
      }
    }
    .btn {
      position: absolute;
      top: 50%;
      margin-top: -55px;
      width: 50px;
      height: 50px;
      @include flex($align: center, $justify: center);
      background-color: $color-white;
      border-radius: 50%;
      padding: 0 11px;
      overflow: hidden;
      .icon {
        @include animate($time: 0.3s);
      }
      &.btn-prev {
        left: -94px;
        &:hover {
          .icon {
            margin-left: -5px;
          }
        }
      }
      &.btn-next {
        right: -91px;
        .icon {
          transform: rotate(180deg);
        }
        &:hover {
          .icon {
            margin-right: -5px;
          }
        }
      }
    }
  }
}

.featured-banner {
  padding: 66px 0 0 0;
  background-color: #F9F9F9;
  .box {
    @include columns( $quant: 385px 1fr 279px, $gutter: 10px, $align: start, $template: 'logo menu location');
    background: $color-orange;
    border-radius: 8px;
    h2 {
      padding: 50px 0 0 55px;
      @include font($family: $font-alt, $size: 32px, $weight: 800, $height: 38.4px);
    }
    .image {
      padding: 0 55px 0 25px;
      img {
        width: 100%;
        height: auto;
        margin: -16px 0 0 0px;
      }
    }
    .text {
      padding: 45px 0 0 0;
      p {
        @include font($family: $font-alt, $size: 18px, $weight: 600, $height: 21.6px);
        padding: 0 0 13px 0;
      }
      .link {
        //width: 35px;
        height: 43px;
        border-radius: 43px;
        background: $color-red;
        border: 1px solid $color-red;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @include font($family: $font-alt, $size: 16px, $weight: 700, $height: 19.2px, $color: $color-white);
        padding: 0 20px;
        .icon {
          transform: rotate(-90deg);
          width: 12px;
          height: 24px;
          stroke: $color-white;
          stroke-width: 2px;
          stroke-linecap: round;
          stroke-linejoin: round;
          margin: 0 0 0 5px;
          @include animate($time: 0.3s);
        }
        &:hover {
          .icon {
            margin: 0 -5px 0 10px;
          }
        }
      }
    }
  }
}

.cat-events {
  padding: 0 0 96px 0;
  background-color: #F9F9F9;
  .title {
    @include flex($align: center, $justify: space-between);
    padding: 83px 0 17px 0;
    h2 {
      @include font($family: $font-alt, $size: 32px, $weight: 800, $height: 38.4px);
    }
    .link {
      @include font($family: $font-alt, $size: 16px, $weight: 700, $height: 19.2px, $color: $color-red);
      .icon {
        transform: rotate(-90deg);
        width: 12px;
        height: 10px;
        stroke: $color-red;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        margin: 0 0 0 5px;
        @include animate($time: 0.3s);
      }
      &:hover {
        .icon {
          margin: 0 -5px 0 10px;
        }
      }
    }
  }
  .slide-box {
    position: relative;
    padding: 0 0 44px 0;
    .slide {
      margin: 0 -14px;
      .item {
        padding: 14px 14px 25px 14px;
      }
    }
    .btn {
      position: absolute;
      top: 50%;
      margin-top: -55px;
      width: 50px;
      height: 50px;
      @include flex($align: center, $justify: center);
      border-radius: 50%;
      padding: 0 11px;
      overflow: hidden;
      .icon {
        @include animate($time: 0.3s);
      }
      &.btn-prev {
        left: -94px;
        &:hover {
          .icon {
            margin-left: -5px;
          }
        }
      }
      &.btn-next {
        right: -91px;
        .icon {
          transform: rotate(180deg);
        }
        &:hover {
          .icon {
            margin-right: -5px;
          }
        }
      }
    }
    .slick-dots {
      @include flex($align: center);
      width: calc(100% - 28px);
      margin: 0 auto;
      li {
        height: 2px;
        padding: 0;
        width: 100%;
        line-height: 0;
        button {
          font-size: 0;
          border: none;
          height: 2px;
          background-color: #E8E8E8;
          margin: 0;
          width: 100%;
          @include animate($time: 0.6s);
        }
        &.slick-active {
          button {
            background-color: $color-black;
          }
        }
      }
    }
  }
}

.featured-blog {
  padding: 149px 0 0 0;
  h2 {
    @include font($family: $font-alt, $size: 32px, $weight: 800, $height: 38.4px);
    padding: 0 0 18px 0;
  }
  .slide-box {
    position: relative;
    .slide {
      margin: 0 -14px;
      .item {
        padding: 14px 14px 25px 14px;
      }
    }
    .btn {
      position: absolute;
      top: 50%;
      margin-top: -55px;
      width: 50px;
      height: 50px;
      @include flex($align: center, $justify: center);
      background-color: $color-white;
      border-radius: 50%;
      padding: 0 11px;
      overflow: hidden;
      .icon {
        @include animate($time: 0.3s);
      }
      &.btn-prev {
        left: -94px;
        &:hover {
          .icon {
            margin-left: -5px;
          }
        }
      }
      &.btn-next {
        right: -91px;
        .icon {
          transform: rotate(180deg);
        }
        &:hover {
          .icon {
            margin-right: -5px;
          }
        }
      }
    }
    .slick-dots {
      @include flex($align: center);
      width: calc(100% - 28px);
      margin: 12px auto 0 auto;
      li {
        height: 2px;
        padding: 0;
        width: 100%;
        line-height: 0;
        button {
          font-size: 0;
          border: none;
          height: 2px;
          background-color: #E8E8E8;
          margin: 0;
          width: 100%;
          @include animate($time: 0.6s);
        }
        &.slick-active {
          button {
            background-color: $color-black;
          }
        }
      }
    }
  }
}

.full-banner {
  padding: 68px 0 63px 0;
  text-align: center;
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}