/*======================================
  Card blog
======================================*/

@include breakpoint2($min:sm, $max:lg) {
  .card-blog {
    box-shadow: 0 get-vw-lg(10px) get-vw-lg(14px) 0 rgba($color-black, 0.1);
    border-radius: get-vw-lg(8px);
    .image {
      height: get-vw-lg(117px);
      .cat {
        bottom: get-vw-lg(-14px);
        left: get-vw-lg(21px);
        @include font($family: $font-alt, $size: get-vw-lg(12px), $weight: 700, $height: get-vw-lg(14.4px), $color: $color-white);
        padding: get-vw-lg(6px) get-vw-lg(10px);
        border-radius: get-vw-lg(100px);
      }
    }
    .content {
      padding: get-vw-lg(30px) get-vw-lg(20px) get-vw-lg(25px) get-vw-lg(21px);
      h3 {
        @include font($family: $font-alt, $size: get-vw-lg(16px), $weight: 800, $height: get-vw-lg(19.2px));
        padding: 0 0 get-vw-lg(8px) 0;
      }
      p {
        @include font($size: get-vw-lg(14px), $height: get-vw-lg(19.6px), $color: rgba($color-black, 0.7));
        padding: 0 0 get-vw-lg(21px) 0;
      }
      .link {
        width: get-vw-lg(25px);
        height: get-vw-lg(25px);
        padding: 0 0 0 get-vw-lg(1px);
        .icon {
          width: get-vw-lg(10px);
          height: get-vw-lg(24px);
          stroke-width: get-vw-lg(2px);
        }
      }
    }
    &:hover {
      box-shadow: 0 get-vw-lg(10px) get-vw-lg(14px) 0 rgba($color-black, 0.2);
    }
  }
}