/*======================================
  Card ticket
======================================*/

.card-ticket {
  display: block;
  box-shadow: 0 get-vw-xs(10px) get-vw-xs(14px) 0 rgba($color-black, 0.1);
  border-radius: get-vw-xs(8px);
  background: #FFFFFF;
  overflow: hidden;
  @include animate($time: 0.3s);
  .image {
    width: 100%;
    height: get-vw-xs(117px);
    position: relative;
    .box {
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .cat {
      position: absolute;
      bottom: get-vw-xs(-7px);
      left: get-vw-xs(19px);
      @include font($family: $font-alt, $size: get-vw-xs(11px), $weight: 700, $height: get-vw-xs(13.2px), $color: $color-white);
      padding: get-vw-xs(6px) get-vw-xs(10px);
      background: #2C2A7F;
      border-radius: get-vw-xs(100px);
    }
  }
  .content {
    padding: get-vw-xs(21px) get-vw-xs(20px) get-vw-xs(22px) get-vw-xs(20px);
    .head {
      border-bottom: get-vw-xs(1px) solid #EAEAEA;
      h3 {
        @include font($family: $font-alt, $size: get-vw-xs(16px), $weight: 800, $height: get-vw-xs(19.2px));
        padding: 0 0 get-vw-xs(11px) 0;
      }
    }
    .infos {
      padding: get-vw-xs(12px) 0 0 0;
      span {
        @include font($family: $font-alt, $size: get-vw-xs(12px), $weight: 700, $height: get-vw-xs(14.4px));
        @include flex($align: center, $gap: get-vw-xs(9px));
        padding: 0 0 get-vw-xs(8px) 0;
        .flag {
          width: get-vw-xs(20px);
          height: get-vw-xs(20px);
          fill: transparent;
          stroke: $color-black;
          stroke-width: 1.5px;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
      }
      .box {
        height: get-vw-xs(67px);
        margin: 0 0 get-vw-xs(12px) 0;
        //background: url(../img/box.svg) top left no-repeat;
        border: 1px dashed black;
        border-radius: get-vw-xs(16px);
        @include font($size: get-vw-xs(14px), $weight: 600, $height: get-vw-xs(16.8px), $color: $color-red);
        padding: get-vw-xs(9px) get-vw-xs(25px);
      }
      .get-ticket {
        padding: get-vw-xs(10.5px) get-vw-xs(41px);
        border: get-vw-xs(1px) solid $color-red;
        border-radius: get-vw-xs(40px);
        display: block;
        @include font($family: $font-alt, $size: get-vw-xs(14px), $weight: 700, $height: get-vw-xs(19.6px), $align: center, $color: $color-white);
        @include animate($time: 0.3s);
        background: $color-red;
        &:hover {
          background: $color-white;
          color: $color-red;
        }
      }
    }
  }
  &:hover {
    box-shadow: 0 get-vw-xs(10px) get-vw-xs(14px) 0 rgba($color-black, 0.2);
  }
}

.modal-ticket {
  @include animate($time: 0.3s);
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  @include flex($align: center, $justify: center);
  .overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba($color-black, 0.85);
  }
  .content {
    position: relative;
    z-index: 101;
    width: get-vw-xs(426px);
    height: get-vw-xs(540px);
    background: $color-white;
    padding: get-vw-xs(33px) get-vw-xs(60px) 0 get-vw-xs(60px);
    border-radius: get-vw-xs(16px);
    overflow: hidden;
    &:before {
      content: '';
      width: 100%;
      height: get-vw-xs(122px);
      background-color: $color-orange;
      position: absolute;
      top: 0;
      left: 0;
    }
    .image {
      position: relative;
      width: 100%;
      height: get-vw-xs(154px);
      overflow: hidden;
      border-radius: get-vw-xs(8px);
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    h2 {
      @include font($family: $font-alt, $size: get-vw-xs(18px), $weight: 800, $height: get-vw-xs(21.6px));
      padding: get-vw-xs(27px) 0 get-vw-xs(2px) 0;
    }
    .type {
      @include font($family: $font-alt, $size: get-vw-xs(14px), $weight: 600, $height: get-vw-xs(16.8px));
      display: block;
      padding: 0 0 get-vw-xs(16px) 0;
    }
    .box {
      width: 100%;
      height: get-vw-xs(66px);
      //background: url(../img/box-modal.svg) top left no-repeat;
      border: 1px dashed black;
      border-radius: get-vw-xs(16px);
      @include font($size: get-vw-xs(14px), $weight: 600, $height: get-vw-xs(16.8px), $color: $color-red);
      padding: get-vw-xs(9px) get-vw-xs(17px);
      @include flex($align: center);
    }
    .form {
      label {
        padding: get-vw-xs(24px) 0 get-vw-xs(21px) 0;
        display: block;
        .label {
          @include font($family: $font-alt, $size: get-vw-xs(14px), $weight: 600, $height: get-vw-xs(16.8px));
          display: block;
          padding: 0 0 get-vw-xs(8px) 0;
        }
        input {
          width: 100%;
          height: get-vw-xs(48px);
          background-color: #E9E9E9;
          border: none;
          border-radius: get-vw-xs(4px);
          padding: get-vw-xs(2px) get-vw-xs(17px) 0 get-vw-xs(17px);
          @include font($family: $font-alt, $size: get-vw-xs(16px), $height: get-vw-xs(25.6px), $color: #515151);
        }
      }
      .button {
        padding: get-vw-xs(10.5px) get-vw-xs(41px);
        border: get-vw-xs(1px) solid $color-red;
        border-radius: get-vw-xs(40px);
        display: block;
        width: 100%;
        @include font($family: $font-alt, $size: get-vw-xs(14px), $weight: 700, $height: get-vw-xs(19.6px), $align: center, $color: $color-white);
        @include animate($time: 0.3s);
        background: $color-red;
        &:hover {
          background: $color-white;
          color: $color-red;
        }
      }
    }
  }
  &.act {
    opacity: 1;
    visibility: visible;
  }
}