/*======================================
  Card event
======================================*/

.card-event {
  display: block;
  box-shadow: 0 10px 14px 0 rgba($color-black, 0.1);
  border-radius: 8px;
  background: #FFFFFF;
  overflow: hidden;
  @include animate($time: 0.3s);
  .image {
    width: 100%;
    height: 117px;
    position: relative;
    .box {
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .cat {
      position: absolute;
      bottom: -7px;
      left: 19px;
      @include font($family: $font-alt, $size: 11px, $weight: 700, $height: 13.2px, $color: $color-white);
      padding: 6px 10px;
      background: #2C2A7F;
      border-radius: 100px;
    }
  }
  .content {
    padding: 21px 20px 10px 20px;
    .head {
      border-bottom: 1px solid #EAEAEA;
      padding: 0 0 11px 0;
      h3 {
        @include font($family: $font-alt, $size: 16px, $weight: 800, $height: 19.2px);
        padding: 0 0 9px 0;
      }
      p {
        @include font($family: $font-alt, $size: 12px, $height: 16.8px, $color: rgba($color-black, 0.7));
      }
    }
    .infos {
      padding: 12px 0 0 0;
      span {
        @include font($family: $font-alt, $size: 12px, $weight: 700, $height: 14.4px);
        @include flex($align: center, $gap: 9px);
        padding: 0 0 8px 0;
        .flag {
          width: 20px;
          height: 20px;
          fill: transparent;
          stroke: $color-black;
          stroke-width: 1.5px;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
        .calendar {
          width: 20px;
          height: 20px;
          fill: transparent;
          stroke: $color-black;
          stroke-width: 1.5px;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
        .arrow {
          width: 12px;
          height: 20px;
          margin: 0 3px;
          transform: rotate(-90deg);
          fill: transparent;
          stroke: $color-black;
          stroke-width: 1.5px;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
      }
    }
  }
  &:hover {
    box-shadow: 0 10px 14px 0 rgba($color-black, 0.2);
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}